p,
h2 {
  margin: 0;
}

#weatherResult {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  position: relative;
  background: rgba(255, 255, 255, 0.117);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#cityName {
  margin-bottom: 15px;
}
#weatherIcon {
  width: 80px;
  height: 80px;

  position: absolute;
  top: 5px;
  right: 5px;
}

#temperature {
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
}
#description,
#humidity,
#windSpeed {
  font-size: 14px;
}

#hero {
  position: relative;
  height: 800px;
  background-image: url("https://images.unsplash.com/photo-1501973801540-537f08ccae7b");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(32, 33, 33);
}
#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
#hero > * {
  position: relative;
  z-index: 1;
}
#hero h2 {
  position: relative;
}
#appTitle {
  font-size: 56px;
  color: white;
  font-weight: 500;
}

#weatherByHour {
  display: flex;
  gap: 15px;
}

.hourCard {
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourCard img {
  width: 40px;
  background-color: rgb(190, 190, 201);
}

.dayDiv {
  width: 400px;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 20px;

  width: 98%;
  padding: 12px 10px;
}
.dayDiv img {
  width: 40px;
  background-color: rgb(190, 190, 201);
}
.firstDiv {
  display: flex;
  align-items: center;
  width: 110px;
}
.tempDiv {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.secondDiv {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 180px;
}
.thirdDiv {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 80px;
}

.dayDiv:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background: rgba(255, 255, 255, 0.329);
}

.humidity {
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop {
  line-height: 1;
  transform: translateY(1px);
}
.secondDiv {
  display: flex;
  align-items: center;
}

.weekDay {
  font-weight: 600;
  min-width: 110px;
  margin: 10px;
}

.detailsDiv {
  display: none;
  margin-top: 4px;
}

.weatherByHoursForDays {
  width: 39px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherByHoursForDays img {
  width: 40px;
  background-color: rgb(190, 190, 201);
}
.dayWrapper {
  margin-bottom: 8px;
}
